<div class= "method">
	<h1 class = "titular">Methodology</h1>

	<img class="img-responsive" src="images/projs.png">
	<img class="img-responsive" src="images/pythag.png">
	<img class="img-responsive" src="images/wins.png">
	<br><br>
	<div class="special">
	    <a class="btn btn-primary btn-lg btn-block" href="/" id="sign_up_button">
	      Home
	    </a>
	</div>
	<br><br>
</div>