<!DOCTYPE html>
<!-- saved from url=(0028)https://www.joingrouper.com/ -->
<!-- Credit to Grouper -->

<html>
<head>
<title>Baseball n Luck</title>

</head>

<body class="styleguide" id="landing_index" data-twttr-rendered="true">
  <div class="content">
  <div class="full-width-container center" id="main_index">
  <div class="masked row transparent-bg" id="top">
  <div class="mask"></div>
  <div class="transparent-bg left">
    <nav class="col-md-12 navbar stripped-navbar" role="navigation">
      <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2">

<!--       <div class="row">
        <a href="/">
          <img class="img-responsive" src="images/grouper_logo@2x-665a18cf9bd8c756399c0f053f612335.png">
        </a>
      </div> -->

      </div>
    <div class="col-xs-4 col-sm-3 col-md-2 pull-right right">
    <!-- <div class="row sign-in-button-container">
      <a class="btn btn-default btn-sm" href="/">
        <h5>
          Donate
        </h5>
      </a>
    </div> -->
    </div>
    </div>
    </nav>
    </div>

<div class="container"><br><br><br>
<div class="row default-row extra-large-headers">
<div class="col-md-12">
<!-- Website main text -->
  <h1>
    Baseball
    &amp; luck
  </h1>
  <h2 class="sub-header">
  a sabermetric analysis of team efficiency
  </h2><br><br><br><br><br><br><br>
</div>
</div>
<div class="row lg-row">
<div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-12">
  <a href="http://baseballgraph.heroku.com">
    <button class="btn btn-lg btn-block btn-default xs-wrap-margin" href="#middle" id="scared">
      Scatter Plot
    </button>
  </a>
</div>

<div class="col-md-4 col-xs-12 col-sm-5">
  <button class="btn btn-lg btn-block btn-default xs-wrap-margin" href="#middle" id="scared">
    Our Predictions
  </button>
</div>

</div>
</div>
<div class="row col-md-12 caption visible-md">
<div class="col-md-4 col-md-offset-4 center down-arrow">
<a href="/">
<img height="20" id="down-arrow" src="images/down_arrow@2x-d17b06fa174243d82ce8f9753befcfca.png" width="35">
</a>
</div>
</div>
</div>

<div class="row dark-bg lg-row" id="dares_photos">
<h1>
Sequences
</h1>
<div class="container">
<div class="row default-row">
<div class="col-md-6">
<img class="img-responsive" src="images/Sad.png">
<div class="img-wrapper default-row">
<img class="img-responsive" id = "sadPic" src="images/Sad1.jpg">
</div>
</div>
<div class="col-md-6">
<img class="img-responsive" src="images/Happy.png">
<div class="img-wrapper default-row"></div>
<img class="img-responsive" id = "happyPic" src="images/Happy1.jpg">
</div>
</div>
<div class="row default-row"></div>
</div>
</div>

<div class="row xl-row transparent-bg masked">
<div class="mask"></div>
<div class="container">
<div class="row">
<div class="col-md-12">
<h3 class="dare-examples">
<ul>
<li>
Grounded Into Double Play
<span class="dot">
·
</span>
</li>
<li>
Runners Left on Base
<span class="dot">
·
</span>
</li>
<li>
Sacrifice Fly
<span class="dot">
·
</span>
</li>
<li>
Advance the Runner
<span class="dot">
·
</span>
</li>
<li>
Outfield Assist
</li>
</ul>
</h3>
</div>
</div>
<div class="row center default-row">
<div class="col-md-4 col-md-offset-4">
<a class="btn btn-primary btn-lg btn-block" href="/">
<i class="icon-facebook"></i>
I'm game →
</a>
</div>
</div>
</div>
</div>

<div class="row light lg-row" id="product_points">
<div class="container">
<div class="row">
<div class="col-md-4 product-point">
<h1>Friends &amp; Intro's</h1>
<div class="divider"></div>
<h3 class="serif sub-header">You and 2 friends join another crew of 3.</h3>
<img class="img-responsive default-row" src="images/intro@2x-71524ca0a9287c6005a96da455211189.png">
</div>
<div class="col-md-4 product-point">
<h1 class="default-wrap-margin">
Drinks
<br class="hidden-sm">
On us
</h1>
<div class="divider"></div>
<h3 class="serif sub-header">The first round's on us to get things started.</h3>
<img class="img-responsive default-row" src="images/pre_game@2x-b77e9bc9db011a179412c7f8d9bbd90e.jpg">
</div>
<div class="col-md-4 product-point">
<h1 class="default-wrap-margin">Truths &amp; dares</h1>
<div class="divider"></div>
<h3 class="serif sub-header">Do it for the stories tomorrow morning.</h3>
<img class="img-responsive default-row" src="images/dares5-3b62b6a16d22ff9c26027a7fe905d99b.jpg">
</div>
</div>
</div>
</div>

<div class="row xl-row transparent-bg extra-large-headers">
<h1>Say yes.</h1>
<div class="container">
<div class="row default-row">
<div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12">
<a class="btn btn-primary btn-lg btn-block" href="/" id="sign_up_button">
<i class="icon-facebook"></i>
Get started
</a>
</div>
<div class="col-md-4 col-xs-12 col-sm-4">
<a class="btn btn-default btn-lg btn-block xs-wrap-margin" href="http://www.worldsmostboringwebsite.com/">
I hate fun
</a>
</div>
</div>
</div>
</div>
<div class="row dark-bg">
<section class="dark-bg md-row left" id="footer">
<div class="container">
<div class="row primary-links">
<div class="col-md-3 link-row">
<h6>Do it right</h6>
<ul>
<li><a href="https://www.joingrouper.com/how_it_works">How it works</a></li>
<li><a href="https://www.joingrouper.com/faq">FAQ's</a></li>
</ul>
</div>
<div class="col-md-3 link-row">
<h6>From last night</h6>
<ul>
<li><a href="http://instagram.com/grouper">Photos</a></li>
<li><a href="http://texts.joingrouper.com/">Texts</a></li>
</ul>
</div>
<div class="col-md-3 link-row">
<h6>Who are we?</h6>
<ul>
<li><a href="https://www.joingrouper.com/about">About Grouper</a></li>
<li><a href="http://blog.joingrouper.com/">Blog</a></li>
<li><a href="https://www.joingrouper.com/jobs">Careers</a></li>
</ul>
</div>
<div class="col-md-3 link-row">
<h6 class="get-in-touch">
Get in touch
</h6>
<a class="btn btn-block btn-default" href="mailto:hello@joingrouper.com">
Questions
</a>
<a class="btn btn-block btn-default" href="mailto:venues@joingrouper.com">
Bars &amp; Venues
</a>
<a class="btn btn-block btn-primary" href="https://www.joingrouper.com/apply_for_membership">
Get started
</a>
</div>
</div>
</div>
<div class="full-width-divider"></div>
<div class="container">
<div class="row" id="legal-footer">
<div class="social-icons col-md-3 col-sm-3 col-xs-12">
<a href="http://facebook.com/joingrouper" target="_blank">
<i class="fa fa-facebook icon-facebook first-icon"></i>
</a>
<a href="http://twitter.com/grouper" target="_blank">
<i class="fa fa-twitter icon-twitter"></i>
</a>
<a href="http://instagram.com/grouper" target="_blank">
<i class="fa fa-instagram icon-instagram"></i>
</a>
<a href="https://www.youtube.com/channel/UCyhqMD6kjgb87h7GOX6ErtA" target="_blank">
<i class="fa icon-youtube-play fa-youtube-play"></i>
</a>
</div>
<div class="legal col-md-8 col-md-offset-1 col-sm-9 col-xs-12">
<a href="https://www.joingrouper.com/about" class="link">© Grouper</a>
<span class="extra-about">
<a href="https://www.joingrouper.com/about" class="link">About</a>
</span>
<a href="https://www.scribd.com/embeds/78485412/content?secret_password=1mdd9blceq4wegt20awg" class="link">Terms</a>
<a href="https://www.joingrouper.com/privacy" class="link">Privacy</a>
<a class="link" href="http://nytm.org/made" target="_blank">
Made with
<i class="icon-heart"></i>
in NY + the world
</a>
</div>
</div>

</div>
</section>

</div>

</div>

</div>
</body>
</html>