<!DOCTYPE html>
<!-- saved from url=(0028)https://www.joingrouper.com/ -->
<!-- Credit to Grouper -->

<html>

<head>
  <title>Baseball & Luck</title>
</head>

<body class="styleguide" id="landing_index" data-twttr-rendered="true">
  <div class="content">
    <div class="full-width-container center" id="main_index">
      <div class="masked row transparent-bg" id="top">
        <div class="mask"></div>
        <div class="transparent-bg left">
          <nav class="col-md-12 navbar stripped-navbar" role="navigation">
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-2">

                <!--       <div class="row">
                        <a href="/">
                          <img class="img-responsive" src="images/grouper_logo@2x-665a18cf9bd8c756399c0f053f612335.png">
                        </a>
                      </div> -->

              </div>
              <div class="col-xs-4 col-sm-3 col-md-2 pull-right right">
                <!-- <div class="row sign-in-button-container">
                  <a class="btn btn-default btn-sm" href="/">
                    <h5>
                      Donate
                    </h5>
                  </a>
                </div> -->
              </div>
            </div>
          </nav>
        </div>

        <div class="container"><br><br><br>
          <div class="row default-row extra-large-headers">
            <div class="col-md-12">

            <br><br><br><br><br>
              <!-- Website main text -->
              <h1>
                Baseball
                &amp; luck
              </h1>
              <h2 class="sub-header">
                a sabermetric analysis of team efficiency
              </h2><br><br><br><br><br><br>
            </div>
          </div>
          <div class="row lg-row">
            <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-12">
              <a href="http://entertainment.howstuffworks.com/baseball.htm">
                <button class="btn btn-lg btn-block btn-default xs-wrap-margin" href="#middle" id="scared">
                  Baseball Basics
                </button>
              </a>
            </div>

          <div class="col-md-4 col-xs-12 col-sm-5">
            <form method="get" action="/Stat_Bank.zip">
              <button class="btn btn-lg btn-block btn-default xs-wrap-margin" type="submit" id="scared">
                Our Data
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="row col-md-12 caption visible-md">
        <div class="col-md-4 col-md-offset-4 center down-arrow">
          <a href="javascript:jumpScroll(100)">
            <img height="20" id="down-arrow" src="images/down_arrow@2x-d17b06fa174243d82ce8f9753befcfca.png" width="35">
          </a>
        </div>
      </div>
    </div>
    <div class="row lg-row lightgrey" id="product_points"><br><br><br><br>
      <div class="container">

        <div class="row">

          <div class="col-md-1 product-point">
            <h1 class="default-wrap-margin">::</h1>
          </div>

          <div class="col-md-3 product-point">
            <h1>&#931 Bases</h1>
            <div class="divider"></div>
          </div>

          <div class="col-md-1 product-point">
            <h1 class="default-wrap-margin">&#8660</h1>
          </div>

          <div class="col-md-3 product-point">
            <h1 class="default-wrap-margin">&#931 Runs</h1>
            <div class="divider"></div>
          </div>

          <div class="col-md-1 product-point">
            <h1 class="default-wrap-margin">&#8660</h1>
          </div>

          <div class="col-md-3 product-point">
            <h1 class="default-wrap-margin">&#931 Wins</h1>
            <div class="divider"></div>
          </div>
        </div>

        <h3>3 Layers of Performance</h3>
      </div><br><br><br><br>
    </div>

    <div class="row dark-bg lg-row" id="dares_photos">
      <h1>
        Sequence
      </h1>
      <div class="container">
        <div class="row default-row">
          <div class="col-md-6">
            <img class="img-responsive" src="images/Sad.png">
            <div class="img-wrapper default-row">
              <img class="img-responsive" id = "sadPic" src="images/Sad1.jpg">
            </div>
          </div>
          <div class="col-md-6">
            <img class="img-responsive" src="images/Happy.png">
            <div class="img-wrapper default-row"></div>
            <img class="img-responsive" id = "happyPic" src="images/Happy1.jpg">
          </div>
        </div>
        <div class="row default-row"></div>
      </div>
    </div>
    <div class="row xl-row transparent-bg masked">
      <div class="mask"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="dare-examples">
              <ul>
                <li>
                  Grounded Into Double Play
                  <span class="dot">
                    ·
                  </span>
                </li>
                <li>
                  Runners Left on Base
                  <span class="dot">
                    ·
                  </span>
                </li>
                <li>
                  Sacrifice Fly
                  <span class="dot">
                    ·
                  </span>
                </li>
                <li>
                  Advance the Runner
                  <span class="dot">
                    ·
                  </span>
                </li>
                <li>
                  Outfield Assist
                </li>
              </ul>
            </h3>
          </div>
        </div>

      </div>
    </div>

    <div class="row xl-row masked lightgrey">
      <div class="mediumText">
        <strong>TB<sup>+</sup><sub>off</sub></strong> =  1B + 2B*2 + 3B*3 + HR*4 + HBP + BB + SB – CS
        <br>
        <strong>TB<sup>+</sup><sub>def</sub></strong> =  1B + 2B*2 + 3B*3 + HR*4 + HBP + BB + SB – CS + ROE
      </div>

      <br><br><br> 
      <div class="largeText">
      &#931 TB<sup>+</sup> / Runs = <font color = "#54752F">Efficiency</font>
      </div>

    </div>

    <div class="graph"><br><br><br>
      <h2 style = "color:white"> Persistence of Team Efficiency </h2>
      <script src="http://d3js.org/d3.v3.min.js"></script>

      <script>
        var margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = 720 - margin.left - margin.right,
        height = 660 - margin.top - margin.bottom;

    /* 
     * value accessor - returns the value to encode for a given data object.
     * scale - maps value to a visual display encoding, such as a pixel position.
     * map function - maps from data value to display value
     * axis - sets up axis
     */ 

    // setup x 
    var xValue = function(d) { return d.Year1;}, // data -> value
        xScale = d3.scale.linear().range([0, width]), // value -> display
        xMap = function(d) { return xScale(xValue(d));}, // data -> display
        xAxis = d3.svg.axis().scale(xScale).orient("bottom");

    // setup y
    var yValue = function(d) { return d.Year2;}, // data -> value
        yScale = d3.scale.linear().range([height, 0]), // value -> display
        yMap = function(d) { return yScale(yValue(d));}, // data -> display
        yAxis = d3.svg.axis().scale(yScale).orient("left");

    // add the graph canvas to the body of the webpage
    var svg = d3.select(".graph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // add the tooltip area to the webpage
    var tooltip = d3.select(".graph").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

    var lineFunction = d3.svg.line()
      .x(function(d) { return d.x; })
      .y(function(d) { return d.y; })
      .interpolate("linear");

    var lineData = [{ "x": 40,   "y": height - 40},  { "x": width-70,  "y": 70}];

    // load data
    d3.csv("eVals.csv", function(error, data) {

      // change string (from CSV) into number format
      data.forEach(function(d) {
        d.Year1 = +d.Year1;
        d.Year2 = +d.Year2;
    //    console.log(d);
    });

      // don't want dots overlapping axis, so add in buffer to data domain
      xScale.domain([d3.min(data, xValue)-.1, d3.max(data, xValue)+.1]);
      yScale.domain([d3.min(data, yValue)-.1, d3.max(data, yValue)+.1]);

      // x-axis
      svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + (height/2 + 16) + ")")
      .call(xAxis)
      .append("text")
      .attr("class", "label")
      .attr("x", width)
      .attr("y", -6)
      .style("text-anchor", "end")
      .text("First Year");

      // y-axis
      svg.append("g")
      .attr("class", "y axis")
      .attr("transform", "translate(" + (width/2 - 17) + ",0)")
      .call(yAxis)
      .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Second Year");

      // draw dots
      svg.selectAll(".dot")
      .data(data)
      .enter().append("circle")
      .attr("class", "dot")
      .attr("r", 3.5)
      .attr("cx", xMap)
      .attr("cy", yMap)
      .style("fill", "#54752F") 
      .on("mouseover", function(d) {
        tooltip.transition()
        .duration(200)
        .style("opacity", .9);
        tooltip.html(d.Team + "<br/> (" + xValue(d) 
          + ", " + yValue(d) + ")")
        .style("left", (d3.event.pageX + 5) + "px")
        .style("top", (d3.event.pageY - 28) + "px");
      })
      .on("mouseout", function(d) {
        tooltip.transition()
        .duration(500)
        .style("opacity", 0);
      });

      svg.append("path")
        .attr("d", lineFunction(lineData))
        .attr("stroke", "white");


      svg.append("text")
        .attr("class", "rsquaredVal")
        .attr("y", 60)
        .attr("x", width - 20)
        .style("text-anchor", "end")
        .text("R squared: 0.14");


    });

      </script>
    </div>

    <div class="row xl-row transparent-bg extra-large-headers">
      <h1>2014 Predictions</h1>
      <div class="container">
        <div class="row default-row">
          <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12">
            <a class="btn btn-primary btn-lg btn-block" href="/predictions" id="sign_up_button">
              Results
            </a>
          </div>
          <div class="col-md-4 col-xs-12 col-sm-4">
            <a class="btn btn-default btn-lg btn-block xs-wrap-margin" href="/methodology">
              Methodology
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row dark-bg">
      <section class="dark-bg md-row left" id="footer">
        <div class="full-width-divider"></div>
        <div class="container">
          <div class="row" id="legal-footer">
            <div class="legal col-md-8 col-md-offset-1 col-sm-9 col-xs-12 footerText">
                Thanks to:&nbsp&nbsp&nbsp Jennifer N. Allen Co.&nbsp &nbsp&nbspBootstrap &nbsp&nbsp&nbspMichael Hartl &nbsp&nbsp&nbsp Grouper
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
</body>
</html>